/*
---
name: Basics
category: Colors
---

The basic colors types available.

```types.html
<div class="primaryA">Primary A</div>
<div class="primaryB">Primary B</div>
<div class="accent">Accent</div>
<div class="positive">Positive</div>
<div class="warning">Warning</div>
<div class="negative">Negative</div>
```
*/
.primaryA {
  background-color: $grey900;
}

.primaryB {
  background-color: $white;
  border: 1px solid $grey300;
  box-sizing: border-box;
}

.accent {
  background-color: $blue500;
}

.positive {
  background-color: $green500;
}

.warning {
  background-color: $yellow500;
}

.negative {
  background-color: $red500;
}

/*
---
name: Background
category: Colors
---

The background colors types available.

```types.html
<div class="backgroundPrimary">Background Primary</div>
<div class="backgroundSecondary">Background Secondary</div>
<div class="backgroundTertiary">Background Tertiary</div>
<div class="backgroundInversePrimary">Background Inverse Primary</div>
<div class="backgroundInverseSecondary">Background Inverse Secondary</div>
<div class="backgroundInverseTertiary">Background Inverse Tertiary</div>
```
*/
.backgroundPrimary {
  @extend .primaryB;
}

.backgroundSecondary {
  background-color: $grey50;
}

.backgroundTertiary {
  background-color: $grey100;
}

.backgroundInversePrimary {
  @extend .primaryA;
}

.backgroundInverseSecondary {
  background-color: $grey800;
}

.backgroundInverseTertiary {
  background-color: $grey700;
}

/*
---
name: Background Extensions
category: Colors
---

The background colors extensions available.

```types.html
<div class="backgroundStateDisabled">Background State Disabled</div>
<div class="backgroundAccent">Background Accent</div>
<div class="backgroundPositive">Background Positive</div>
<div class="backgroundNegative">Background Negative</div>
<div class="backgroundWarning">Background Warning</div>
<div class="backgroundLightAccent">Background Light Accent</div>
<div class="backgroundLightPositive">Background Light Positive</div>
<div class="backgroundLightNegative">Background Light Negative</div>
<div class="backgroundLightWarning">Background Light Warning</div>
<div class="backgroundOverlayLight">Background Overlay Light</div>
<div class="backgroundOverlayLightDark">Background Overlay Light Dark</div>
```
*/
.backgroundStateDisabled {
  background-color: $grey100;
}

.backgroundAccent {
  @extend .accent;
}

.backgroundPositive {
  @extend .positive;
}

.backgroundNegative {
  @extend .negative;
}

.backgroundWarning {
  @extend .warning;
}

.backgroundLightAccent {
  background-color: $blue100;
}

.backgroundLightPositive {
  background-color: $green100;
}

.backgroundLightNegative {
  background-color: $red100;
}

.backgroundLightWarning {
  background-color: $yellow100;
}

.backgroundOverlayLight {
  background-color: rgba($grey900, 0.5);
}

.backgroundOverlayDark {
  background-color: rgba($grey900, 0.3);
}

/*
---
name: Content
category: Colors
---

The text colors that can be used with `<p>` elements or any element with text.

```types.html
<div class="contentPrimary">Content Primary</div>
<div class="contentSecondary">Content Secondary</div>
<div class="contentTertiary">Content Tertiary</div>
<div class="contentInversePrimary">Content Inverse Primary</div>
<div class="contentInverseSecondary">Content Inverse Secondary</div>
<div class="contentInverseTertiary">Content Inverse Tertiary</div>
```
*/
.contentPrimary {
  color: $black;
}

.contentSecondary {
  color: $grey400;
}

.contentTertiary {
  color: $grey300;
}

.contentInversePrimary {
  @extend .primaryA;
  color: $white;
}

.contentInverseSecondary {
  @extend .primaryA;
  color: $grey300;
}

.contentInverseTertiary {
  @extend .primaryA;
  color: $grey400;
}

/*
---
name: Text extensions
category: Colors
---

The text colors that can be used with `<p>` elements or any element with text.

```types.html
<div class="contentStateDisabled">Content State Disabled</div>
<div class="contentAccent">Content Accent</div>
<div class="contentNegative">Content Negative</div>
<div class="contentPositive">Content Positive</div>
<div class="contentWarning">Content Warning</div>
```
*/
.contentStateDisabled {
  color: $grey300;
}

.contentAccent {
  color: $blue500;
}

.contentOnColorPrimary {
  color: $white;
}

.contentOnColorSecondary {
  color: rgba($white, 0.5);
}

.contentNegative {
  color: $red500;
}

.contentPositive {
  color: $green500;
}

.contentWarning {
  color: $yellow500;
}

/*
---
name: Border
category: Colors
---

The border colors that can be used with any element.

```types.html
<div class="borderDefault">Border Default</div>
<div class="borderSelected">Border Selected</div>
<div class="borderInverseDefault">Border Inverse Default</div>
<div class="borderInverseSelected">Border Inverse Selected</div>
```
*/
.borderDefault {
  border: 1px solid $grey100;
}

.borderSelected {
  border: 2px solid $grey900;
}

.borderInverseDefault {
  border: 1px solid $grey700;
}

.borderInverseSelected {
  border: 2px solid $white;
}

/*
---
name: Border extensions
category: Colors
---

The border colors that can be used with any element.

```types.html
<div class="borderStateDisabled">Border State Disabled</div>
<div class="borderAccent">Border Accent</div>
<div class="borderAccentLight">Border Accent Light</div>
<div class="borderNegative">Border Negative</div>
<div class="borderPositive">Border Positive</div>
<div class="borderWarning">Border Warning</div>
```
*/
.borderStateDisabled {
  border: 1px solid $grey100;
}

.borderAccent {
  border: 1px solid $blue500;
}

.borderNegative {
  border: 1px solid $red500;
}

.borderPositive {
  border: 1px solid $green500;
}

.borderWarning {
  border: 1px solid $yellow500;
}
