/*
---
name: Font
category: Variables
---

The available fonts are:
- GT Walsheim

```types.html
<h1 class="title-x8">GT Walsheim</h1>
```
*/

/**
  Default font
 */

@font-face {
  font-family: 'GT Walsheim';
  src: url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Regular.woff2') format('woff2'),
  url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Regular.woff') format('woff'),
  url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  font-style: normal;
}


@font-face {
  font-family: 'GT Walsheim';
  src: url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Medium.woff2') format('woff2'),
  url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Medium.woff') format('woff'),
  url($billmate-resource-path + '/resources/fonts/GTWalsheim/GT-Walsheim-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  font-style: normal;
}
