@mixin svg-include($svgPath) {
  -webkit-mask-image: url($svgPath);
  mask-image: url($svgPath);
}

.bm-icon {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: currentColor;
  content: '';
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

/*
---
name: Misc
category: Icons
---

Misc icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-icon-placeholder"></i>
</span>
```
*/
.bm-icon-placeholder {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/misc/placeholder.svg');
}

/*
---
name: Direction
category: Icons
---

Direction icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-icon-arrow-left"></i>
</span>
<span class="icon">
  <i class="bm-icon-arrow-up"></i>
</span>
<span class="icon">
  <i class="bm-icon-arrow-down"></i>
</span>
<span class="icon">
  <i class="bm-icon-arrow-right"></i>
</span>
<span class="icon">
  <i class="bm-icon-chevron-left"></i>
</span>
<span class="icon">
  <i class="bm-icon-chevron-up"></i>
</span>
<span class="icon">
  <i class="bm-icon-chevron-down"></i>
</span>
<span class="icon">
  <i class="bm-icon-chevron-right"></i>
</span>
```
*/
.bm-icon-arrow-left {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/arrow-left.svg');
}

.bm-icon-arrow-up {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/arrow-up.svg');
}

.bm-icon-arrow-down {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/arrow-down.svg');
}

.bm-icon-arrow-right {
  @extend .bm-icon;;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/arrow-right.svg');
}

.bm-icon-chevron-left {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/chevron-left.svg');
}

.bm-icon-chevron-up {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/chevron-up.svg');
}

.bm-icon-chevron-down {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/chevron-down.svg');
}

.bm-icon-chevron-right {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/direction/chevron-right.svg');
}

/*
---
name: Basic
category: Icons
---

Basic icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-icon-cross-circle-outlined"></i>
</span>
<span class="icon">
  <i class="bm-icon-cross-circle-solid"></i>
</span>
<span class="icon">
  <i class="bm-icon-cross"></i>
</span>
<span class="icon">
  <i class="bm-icon-check"></i>
</span>
<span class="icon">
  <i class="bm-icon-alert"></i>
</span>
<span class="icon">
  <i class="bm-icon-chat"></i>
</span>
<span class="icon">
  <i class="bm-icon-bell"></i>
</span>
<span class="icon">
  <i class="bm-icon-search"></i>
</span>
<span class="icon">
  <i class="bm-icon-options"></i>
</span>
<span class="icon">
  <i class="bm-icon-copy-v1"></i>
</span>
<span class="icon">
  <i class="bm-icon-copy-v2"></i>
</span>
```
*/
.bm-icon-cross-circle-outlined {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/cross-circle-outlined.svg');
}

.bm-icon-cross-circle-solid {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/cross-circle-solid.svg');
}

.bm-icon-cross {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/cross.svg');
}

.bm-icon-check {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/check.svg');
}

.bm-icon-alert {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/alert.svg');
}

.bm-icon-chat {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/chat.svg');
}

.bm-icon-bell {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/bell.svg');
}

.bm-icon-search {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/search.svg');
}

.bm-icon-options {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/options.svg');
}

.bm-icon-copy-v1 {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/copy-v1.svg');
}

.bm-icon-copy-v2 {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/basics/copy-v2.svg');
}

/*
---
name: Payment
category: Icons
---

Payment icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-icon-mastercard"></i>
</span>
<span class="icon">
  <i class="bm-icon-credit-card-v1"></i>
</span>
<span class="icon">
  <i class="bm-icon-credit-card-v2"></i>
</span>
<span class="icon">
  <i class="bm-icon-bank-id-sv"></i>
</span>
```
*/
.bm-icon-mastercard {
  @extend .bm-icon;
  background: url($billmate-resource-path + '/resources/icons/payment/mastercard.svg') no-repeat center;
}

.bm-icon-credit-card-v1 {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/payment/credit-card-v1.svg');
}

.bm-icon-credit-card-v2 {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/payment/credit-card-v2.svg');
}

.bm-icon-bank-id-sv {
  @extend .bm-icon;
  background: url($billmate-resource-path + '/resources/icons/payment/bank-id-sv.svg') no-repeat center;
}

/*
---
name: User
category: Icons
---

User icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-profile-circular"></i>
</span>
<span class="icon">
  <i class="bm-profile"></i>
</span>
```
*/
.bm-profile-circular {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/user/profile-circular.svg');
}

.bm-profile {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/user/profile.svg');
}

/*
---
name: Input states
category: Icons
---

User icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<span class="icon">
  <i class="bm-check-enabled"></i>
</span>
<span class="icon">
  <i class="bm-check-enabled-off"></i>
</span>
<span class="icon">
  <i class="bm-bullet-enabled"></i>
</span>
<span class="icon">
  <i class="bm-bullet-enabled-off"></i>
</span>
```
*/
.bm-check-enabled {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/input/check/check-enabled.svg');
}

.bm-check-enabled-off {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/input/check/check-enabled-off.svg');
}

.bm-bullet-enabled {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/input/bullet/bullet-enabled.svg');
}

.bm-bullet-enabled-off {
  @extend .bm-icon;
  @include svg-include($billmate-resource-path + '/resources/icons/input/bullet/bullet-enabled-off.svg');
}

/*
---
name: Progress
category: Icons
---

User icons can be used with `<i>` and `<span>` elements and within `<input>` and `<button>`.

```icons.html
<div class="bm-spinner-wrapper largeSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
  <div class="bm-spinner-label">
  Laddar..
  </div>
</div>

<div class="bm-spinner-wrapper mediumSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
  <div class="bm-spinner-label">
  Laddar..
  </div>
</div>

<div class="bm-spinner-wrapper smallSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
  <div class="bm-spinner-label">
  Laddar..
  </div>
</div>

<div class="bm-spinner-wrapper largeSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
</div>

<div class="bm-spinner-wrapper mediumSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
</div>

<div class="bm-spinner-wrapper smallSpinner">
  <svg class="bm-spinner" width="88" height="88" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="48" cy="48" r="44" stroke="#E3E5E8" stroke-width="8"/>
      <path d="M92 48C92 23.6995 72.3005 4 48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92" stroke="black" stroke-width="8"/>
  </svg>
</div>
```
```icons.css hidden
body {
  display: flex;
  align-items: center;
}
body > div {
  margin-right: 15px;
}
```
*/

.bm-spinner-wrapper {
  text-align: center;

  &.largeSpinner {
    .bm-spinner {
      width: 88px;
      height: 88px;
    }

    .bm-spinner-label {
      font-size: 18px;
    }
  }

  &.mediumSpinner {
    .bm-spinner {
      width: 64px;
      height: 64px;
    }

   .bm-spinner-label {
      font-size: 16px;
    }
  }

  &.smallSpinner {
    .bm-spinner {
      width: 32px;
      height: 32px;
    }

    .bm-spinner-label {
      font-size: 14px;
    }
  }
}

.bm-spinner {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;

  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }

  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
  }

  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
  }

  @keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
  }
}
