.secondaryFont {
  font-family: 'GT Walsheim';
}

/*
---
name: Title
category: Typography
---

Title types can be used on any element that contains text.

```types.html
<div class="title-x8">Title x8</div>
<div class="title-x7">Title x7</div>
<div class="title-x6">Title x6</div>
<div class="title-x5">Title x5</div>
<div class="title-x4">Title x4</div>
<div class="title-x3">Title x3</div>
<div class="title-x2">Title x2</div>
```
*/
.title-x8 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 1;
  color: $grey900;
}

.title-x7 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 1;
  color: $grey900;
}

.title-x6 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1;
  color: $grey900;
}

.title-x5 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  color: $grey900;
}

.title-x4 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: $grey900;
}

.title-x3 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: $grey900;
}

.title-x2 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: $grey900;
}


//Breakpoints for titles
@media (min-width: 1440px) {
  .title-lg {
    &-x8 {
      font-size: 88px;
    }

    &-x7 {
      font-size: 72px;
    }

    &-x6 {
      font-size: 56px;
    }

    &-x5 {
      font-size: 40px;
    }

    &-x4 {
      font-size: 32px;
    }

    &-x3 {
      font-size: 24px;
    }

    &-x3 {
      font-size: 18px;
    }
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .title-md {
    &-x8 {
      font-size: 88px;
    }

    &-x7 {
      font-size: 72px;
    }

    &-x6 {
      font-size: 56px;
    }

    &-x5 {
      font-size: 40px;
    }

    &-x4 {
      font-size: 32px;
    }

    &-x3 {
      font-size: 24px;
    }

    &-x3 {
      font-size: 18px;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .title-sm {
    &-x8 {
      font-size: 88px;
    }

    &-x7 {
      font-size: 72px;
    }

    &-x6 {
      font-size: 56px;
    }

    &-x5 {
      font-size: 40px;
    }

    &-x4 {
      font-size: 32px;
    }

    &-x3 {
      font-size: 24px;
    }

    &-x3 {
      font-size: 18px;
    }
  }
}
@media (min-width: 568px) and (max-width: 1023px) {
  .title-xsm {
    &-x8 {
      font-size: 88px;
    }

    &-x7 {
      font-size: 72px;
    }

    &-x6 {
      font-size: 56px;
    }

    &-x5 {
      font-size: 40px;
    }

    &-x4 {
      font-size: 32px;
    }

    &-x3 {
      font-size: 24px;
    }

    &-x3 {
      font-size: 18px;
    }
  }
}

/*
---
name: Text
category: Typography
---

Title types can be used on any element that contains text.

```types.html
<p class="text-x6">Text x6</p>
<p class="text-x5">Text x5</p>
<p class="text-x4">Text x4</p>
<p class="text-x3">Text x3</p>
<p class="text-x2">Text x2</p>
```
*/
.text-x6 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  color: $black;
}

.text-x5 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: $black;
}

.text-x4 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
}

.text-x3 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

.text-x2 {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}

//Breakpoints for titles
@media (min-width: 1440px) {
  .text-lg {
    &-x6 {
      font-size: 28px;
    }

    &-x5 {
      font-size: 22px;
    }

    &-x4 {
      font-size: 18px;
    }

    &-x3 {
      font-size: 16px;
    }

    &-x3 {
      font-size: 14px;
    }
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .title-md {
    &-x8 {
      font-size: 88px;
    }

    &-x7 {
      font-size: 72px;
    }

    &-x6 {
      font-size: 56px;
    }

    &-x5 {
      font-size: 40px;
    }

    &-x4 {
      font-size: 32px;
    }

    &-x3 {
      font-size: 24px;
    }

    &-x3 {
      font-size: 18px;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .text-sm {
    &-x6 {
      font-size: 28px;
    }

    &-x5 {
      font-size: 22px;
    }

    &-x4 {
      font-size: 18px;
    }

    &-x3 {
      font-size: 16px;
    }

    &-x3 {
      font-size: 14px;
    }
  }
}
@media (min-width: 568px) and (max-width: 1023px) {
  .text-xsm {
    &-x6 {
      font-size: 28px;
    }

    &-x5 {
      font-size: 22px;
    }

    &-x4 {
      font-size: 18px;
    }

    &-x3 {
      font-size: 16px;
    }

    &-x3 {
      font-size: 14px;
    }
  }
}

/*
---
name: Display (Deprecated)
category: Typography
---

Display types can be used on any element that contains text.
Not used on Website.

```types.html
<p class="displayL">Display Large</p>
<p class="displayM">Display Medium</p>
<p class="displayS">Display Small</p>
<p class="displayXS">Display Extra Small</p>
```
*/
.displayS {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: $black;
}

.displayXS {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: $black;
}

/*
---
name: Heading (Deprecated)
category: Typography
---

Heading types can be used with `<h1>`, `<h2>`, `<h3>`, `<h4>`, `<h5>` and `<h6>` elements.

```types.html
<h1 class="headingXLarge">Heading Extra Large</h1>
<h1 class="headingLarge">Heading Large</h1>
<h1 class="headingM">Heading Medium</h1>
<h1 class="headingSmall">Heading Small</h1>
<h1 class="headingXSmall">Heading Extra Small</h1>
<h1 class="headingXXSmall">Heading Extra Extra Small</h1>
```
*/
.headingXLarge {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 48px;
  line-height: 58px;
}

.headingLarge {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 36px;
  line-height: 44px;
}

.headingM {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 32px;
  line-height: 38px;
}

.headingSmall {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 24px;
  line-height: 28px;
}

.headingXSmall {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 20px;
  line-height: 24px;
}

.headingXXSmall {
  @extend .secondaryFont;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 18px;
  line-height: 22px;
}

/*
---
name: Headers (Deprecated)
category: Typography
---

Headers are `<h1>`, `<h2>`, `<h3>`, `<h4>`, `<h5>` and `<h6>` elements.

```types.html
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
```
*/
h1 {
  @extend .headingXLarge;
}

h2 {
  @extend .headingLarge;
}

h3 {
  @extend .headingM;
}

h4 {
  @extend .headingSmall;
}

h5 {
  @extend .headingXSmall;
}

h6 {
  @extend .headingXXSmall;
}

.header, h1, h2, h3, h4, h5, h6 {
  div.header-content {
    &.headingXLarge {
      @extend .headingXLarge;
    }

    &.headingLarge {
      @extend .headingLarge;
    }

    &.headingM {
      @extend .headingM;
    }

    &.headingSmall {
      @extend .headingSmall;
    }

    &.headingXSmall {
      @extend .headingXSmall;
    }

    &.headingXXSmall {
      @extend .headingXXSmall;
    }
  }
}

/*
---
name: Paragraph (Deprecated)
category: Typography
---

Heading types can be used with `<p>` elements.

```types.html
<p class="paragraphLarge">Paragraph Large</p>
<p class="paragraphMedium">Paragraph Medium</p>
<p class="paragraphSmall">Paragraph Small</h1>
<p class="paragraphXSmall">Paragraph Extra Small</p>
```
*/
.paragraphLarge {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.paragraphMedium {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.paragraphSmall {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.paragraphXSmall {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

/*
---
name: Label
category: Typography
---

Heading types can be used any type of text elements.

```types.html
<div class="labelLarge">Label Large</div>
<div class="labelMedium">Label Medium</div>
<div class="labelSmall">Label Small</div>
<div class="labelXSmall">Label Extra Small</div>
```
*/
.labelLarge {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.labelMedium {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.labelSmall {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: 1023px) {
  .labelMedium {
    &-lg {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
    }
  }
}

