/*
---
name: Color palette
category: Variables
---

The available color palettes.

```types.html hidden

<div class="theme-color">
  <div style="background: #CCEEFF; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $blue100<br />
  #CCEEFF
</div>

<div class="theme-color">
  <div style="background: #83CFFC; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $blue300<br />
  #83CFFC
</div>

<div class="theme-color">
  <div style="background: #1975FF; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $blue500<br />
  #1975FF
</div>

<div class="theme-color">
  <div style="background: #1F49AD; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $blue700<br />
  #1F49AD
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #FFF8CC; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $yellow100<br />
  #FFF8CC
</div>

<div class="theme-color">
  <div style="background: #FFD042; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $yellow300<br />
  #FFD042
</div>

<div class="theme-color">
  <div style="background: #FFA719; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $yellow500<br />
  #FFA719
</div>

<div class="theme-color">
  <div style="background: #E66D0A; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $yellow700<br />
  #E66D0A
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #CCFFDD; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $green100<br />
  #CCFFDD
</div>

<div class="theme-color">
  <div style="background: #7DE8A9; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $green300<br />
  #7DE8A9
</div>

<div class="theme-color">
  <div style="background: #1DC872; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $green500<br />
  #1DC872
</div>

<div class="theme-color">
  <div style="background: #267349; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $green700<br />
  #267349
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #ECD6F5; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $purple100<br />
  #ECD6F5
</div>

<div class="theme-color">
  <div style="background: #D199E5; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $purple300<br />
  #D199E5
</div>

<div class="theme-color">
  <div style="background: #9547D1; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $purple500<br />
  #9547D1
</div>

<div class="theme-color">
  <div style="background: #593A78; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $purple700<br />
  #593A78
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #FFD8CC; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $red100<br />
  #FFD8CC
</div>

<div class="theme-color">
  <div style="background: #F8917C; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $red300<br />
  #F8917C
</div>

<div class="theme-color">
  <div style="background: #E84030; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $red500<br />
  #E84030
</div>

<div class="theme-color">
  <div style="background: #932F1F; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $red700<br />
  #932F1F
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #ffffff; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $white<br />
  #ffffff
</div>

<div class="theme-color">
  <div style="background: #F9FAFB; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey50<br />
  #F9FAFB
</div>

<div class="theme-color">
  <div style="background: #E2E5E9; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey100<br />
  #E2E5E9
</div>

<div class="theme-color">
  <div style="background: #ABB1BA; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey300<br />
  #ABB1BA
</div>

<div style="width: 100%; margin-top: 15px;"></div>

<div class="theme-color">
  <div style="background: #6A717C; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey400<br />
  #ffffff
</div>

<div class="theme-color">
  <div style="background: #454B54; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey700<br />
  #454B54
</div>

<div class="theme-color">
  <div style="background: #2E3238; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey800<br />
  #2E3238
</div>

<div class="theme-color">
  <div style="background: #17191C; width: 100px; height: 100px; border-radius: 10px;">
  </div>
  $grey900<br />
  #17191C
</div>

```
```types.css hidden
.theme-color {
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: inline-block;
  margin-right: 15px;
}
```
*/

// Colors - Basic
$black: #000000;
$white: #FFFFFF;

// Colors - Blue
$blue700: #1F49AD;
$blue500: #1975FF;
$blue300: #4FBAF0;
$blue100: #CCEEFF;

// Colors - Yellow
$yellow700: #E66D0A;
$yellow500: #FFA719;
$yellow300: #FFD042;
$yellow100: #FFF8CC;

// Colors - Green
$green700: #267349;
$green500: #1DC872;
$green300: #7DE8A9;
$green100: #CCFFDD;

// Colors - Purple
$purple700: #593A78;
$purple500: #9547D1;
$purple300: #D199E5;
$purple100: #ECD6F5;

// Colors - Red
$red700: #932F1F;
$red500: #E84030;
$red300: #F8917C;
$red100: #FFD8CC;

// Colors - Orange - Not used
$orange700: #5D2509;
$orange600: #8C370D;
$orange500: #AF4510;
$orange400: #E95C16;
$orange300: #EF8550;
$orange200: #F5B696;
$orange100: #FBDED0;
$orange50: #FDF2EC;

// Colors - Grey
$grey900: #17191C;
$grey800: #2E3238;
$grey700: #454B54;
$grey400: #6A717C;
$grey300: #ABB1BA;
$grey100: #E2E5E9;
$grey50: #F9FAFB;

// Colors - Platinum - Not used
$platinum700: #2F3237;
$platinum600: #464A53;
$platinum500: #585D68;
$platinum400: #757C8A;
$platinum300: #989DA7;
$platinum200: #C1C4CA;
$platinum100: #E3E5E8;
$platinum50: #F4F5F6;

// Colors - Beige - Not used
$beige700: #443C37;
$beige600: #655B52;
$beige500: #7F7167;
$beige400: #A99789;
$beige300: #BFB1A7;
$beige200: #D8D0CA;
$beige100: #EEEAE7;
$beige50: #F8F7F6;
