/*
---
name: Color palette
category: Variables
---

The available color palettes.

```types.html
<div style="background: #000000;">$black</div>
<div style="background: #FFFFFF;">$white</div>

<div style="background: #08415E;">$blue700</div>
<div style="background: #0C628D;">$blue600</div>
<div style="background: #0F7AB0;">$blue500</div>
<div style="background: #14A3EB;">$blue400</div>
<div style="background: #4FBAF0;">$blue300</div>
<div style="background: #95D6F6;">$blue200</div>
<div style="background: #D0EDFB;">$blue100</div>
<div style="background: #ECF8FD;">$blue50</div>

<div style="background: #5D2509;">$orange700</div>
<div style="background: #8C370D;">$orange600</div>
<div style="background: #AF4510;">$orange500</div>
<div style="background: #E95C16;">$orange400</div>
<div style="background: #EF8550;">$orange300</div>
<div style="background: #F5B696;">$orange200</div>
<div style="background: #FBDED0;">$orange100</div>
<div style="background: #FDF2EC;">$orange50</div>

<div style="background: #145238;">$green700</div>
<div style="background: #1F7A54;">$green600</div>
<div style="background: #269969;">$green500</div>
<div style="background: #33CC8C;">$green400</div>
<div style="background: #66D9A9;">$green300</div>
<div style="background: #A3E8CB;">$green200</div>
<div style="background: #D6F5E8;">$green100</div>
<div style="background: #EFFBF6;">$green50</div>

<div style="background: #5E1A08;">$red700</div>
<div style="background: #8D270C;">$red600</div>
<div style="background: #B0310F;">$red500</div>
<div style="background: #EB4114;">$red400</div>
<div style="background: #F0704F;">$red300</div>
<div style="background: #F6A995;">$red200</div>
<div style="background: #FBD9D0;">$red100</div>
<div style="background: #FDF0EC;">$red50</div>

<div style="background: #5D4109;">$yellow700</div>
<div style="background: #8C620D;">$yellow600</div>
<div style="background: #AF7A10;">$yellow500</div>
<div style="background: #E9A316;">$yellow400</div>
<div style="background: #EFBA50;">$yellow300</div>
<div style="background: #F5D696;">$yellow200</div>
<div style="background: #FBEDD0;">$yellow100</div>
<div style="background: #FDF8EC;">$yellow50</div>

<div style="background: #222222;">$grey800</div>
<div style="background: #3B3B3B;">$grey700</div>
<div style="background: #595959;">$grey600</div>
<div style="background: #6F6F6F;">$grey500</div>
<div style="background: #949494;">$grey400</div>
<div style="background: #AFAFAF;">$grey300</div>
<div style="background: #CFCFCF;">$grey200</div>
<div style="background: #EAEAEA;">$grey100</div>
<div style="background: #F6F6F6;">$grey50</div>

<div style="background: #2F3237;">$platinum700</div>
<div style="background: #464A53;">$platinum600</div>
<div style="background: #585D68;">$platinum500</div>
<div style="background: #757C8A;">$platinum400</div>
<div style="background: #989DA7;">$platinum300</div>
<div style="background: #C1C4CA;">$platinum200</div>
<div style="background: #E3E5E8;">$platinum100</div>
<div style="background: #F4F5F6;">$platinum50</div>

<div style="background: #443C37;">$beige700</div>
<div style="background: #655B52;">$beige600</div>
<div style="background: #7F7167;">$beige500</div>
<div style="background: #A99789;">$beige400</div>
<div style="background: #BFB1A7;">$beige300</div>
<div style="background: #D8D0CA;">$beige200</div>
<div style="background: #EEEAE7;">$beige100</div>
<div style="background: #F8F7F6;">$beige50</div>
```
*/

// Colors - Basic
$black: #000000;
$white: #FFFFFF;

// Colors - Blue
$blue700: #08415E;
$blue600: #0C628D;
$blue500: #0F7AB0;
$blue400: #14A3EB;
$blue300: #4FBAF0;
$blue200: #95D6F6;
$blue100: #D0EDFB;
$blue50: #ECF8FD;

// Colors - Orange
$orange700: #5D2509;
$orange600: #8C370D;
$orange500: #AF4510;
$orange400: #E95C16;
$orange300: #EF8550;
$orange200: #F5B696;
$orange100: #FBDED0;
$orange50: #FDF2EC;

// Colors - Green
$green700: #145238;
$green600: #1F7A54;
$green500: #269969;
$green400: #33CC8C;
$green300: #66D9A9;
$green200: #A3E8CB;
$green100: #D6F5E8;
$green50: #EFFBF6;

// Colors - Red
$red700: #5E1A08;
$red600: #8D270C;
$red500: #B0310F;
$red400: #EB4114;
$red300: #F0704F;
$red200: #F6A995;
$red100: #FBD9D0;
$red50: #FDF0EC;

// Colors - Yellow
$yellow700: #5D4109;
$yellow600: #8C620D;
$yellow500: #AF7A10;
$yellow400: #E9A316;
$yellow300: #EFBA50;
$yellow200: #F5D696;
$yellow100: #FBEDD0;
$yellow50: #FDF8EC;

// Colors - Grey
$grey800: #222222;
$grey700: #3B3B3B;
$grey600: #595959;
$grey500: #6F6F6F;
$grey400: #949494;
$grey300: #AFAFAF;
$grey200: #CFCFCF;
$grey100: #EAEAEA;
$grey50: #F6F6F6;

// Colors - Platinum
$platinum700: #2F3237;
$platinum600: #464A53;
$platinum500: #585D68;
$platinum400: #757C8A;
$platinum300: #989DA7;
$platinum200: #C1C4CA;
$platinum100: #E3E5E8;
$platinum50: #F4F5F6;

// Colors - Beige
$beige700: #443C37;
$beige600: #655B52;
$beige500: #7F7167;
$beige400: #A99789;
$beige300: #BFB1A7;
$beige200: #D8D0CA;
$beige100: #EEEAE7;
$beige50: #F8F7F6;
