/**
 * 01 Color palette
 */

// Colors - Basic
$black: #000000;
$white: #FFFFFF;

// Colors - Blue
$blue700: #08415E;
$blue600: #0C628D;
$blue500: #0F7AB0;
$blue400: #14A3EB;
$blue300: #4FBAF0;
$blue200: #95D6F6;
$blue100: #D0EDFB;
$blue50: #ECF8FD;

// Colors - Orange
$orange700: #5D2509;
$orange600: #8C370D;
$orange500: #AF4510;
$orange400: #E95C16;
$orange300: #EF8550;
$orange200: #F5B696;
$orange100: #FBDED0;
$orange50: #FDF2EC;

// Colors - Green
$green700: #145238;
$green600: #1F7A54;
$green500: #269969;
$green400: #33CC8C;
$green300: #66D9A9;
$green200: #A3E8CB;
$green100: #D6F5E8;
$green50: #EFFBF6;

// Colors - Red
$red700: #5E1A08;
$red600: #8D270C;
$red500: #B0310F;
$red400: #EB4114;
$red300: #F0704F;
$red200: #F6A995;
$red100: #FBD9D0;
$red50: #FDF0EC;

// Colors - Yellow
$yellow700: #5D4109;
$yellow600: #8C620D;
$yellow500: #AF7A10;
$yellow400: #E9A316;
$yellow300: #EFBA50;
$yellow200: #F5D696;
$yellow100: #FBEDD0;
$yellow50: #FDF8EC;

// Colors - Grey
$grey800: #222222;
$grey700: #3B3B3B;
$grey600: #595959;
$grey500: #6F6F6F;
$grey400: #949494;
$grey300: #AFAFAF;
$grey200: #CFCFCF;
$grey100: #EAEAEA;
$grey50: #F6F6F6;

// Colors - Platinum
$platinum700: #2F3237;
$platinum600: #464A53;
$platinum500: #585D68;
$platinum400: #757C8A;
$platinum300: #989DA7;
$platinum200: #C1C4CA;
$platinum100: #E3E5E8;
$platinum50: #F4F5F6;

// Colors - Beige
$beige700: #443C37;
$beige600: #655B52;
$beige500: #7F7167;
$beige400: #A99789;
$beige300: #BFB1A7;
$beige200: #D8D0CA;
$beige100: #EEEAE7;
$beige50: #F8F7F6;
