.i-sidebar-title {
  background: #fff;
  margin: 0!important;
  display: block;
  position: fixed;
  padding: 20px;
  padding-top: 12px;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 20px #0000001f;
}

.i-page__content {
  margin-left: 20%;
  background: #fff!important;
  padding-top: 80px;
}

.backgroundPrimary,
.backgroundSecondary,
.backgroundTertiary,
.backgroundInversePrimary,
.backgroundInverseSecondary,
.backgroundInverseTertiary {
  padding: 5px;
  display: inline-block;
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
  height: 100px;
}

.i-page__sidebar {
  padding-top: 73px;
}
