/*
---
name: Button
category: Components
---

Buttons can be used with `<a>`, `<button>`, and `<input>` elements.

Types of buttons:
- Rectangle Primary: Standard button
- Rectangle Secondary: Add an secondary indication over the primary button
- Rectangle Tertiary: Add an tertiary indication over the other button types

```types.html
<button class="button rectanglePrimary">Rectangle Primary</button>
<button class="button rectanglePrimary">
  <span class="icon">
    <i class="bm-icon-placeholder"></i>
  </span>
  <span>Rectangle Primary</span>
</button>
<button class="button rectanglePrimary">
  <span class="is-left">Rectangle Primary</span>
  <span class="icon">
    <i class="bm-icon-arrow-right"></i>
  </span>
</button>
<button class="button rectanglePrimary content-space-between">
  <span>Rectangle Primary</span>
  <span class="icon">
    <i class="bm-icon-arrow-right"></i>
  </span>
</button>
<button class="button rectanglePrimary mediumLabel">Rectangle Primary - medium button</button>
<button class="button rectanglePrimary smallLabel">Rectangle Primary - small button</button>
<button class="button rectangleSecondary">Rectangle Secondary</button>
<button class="button rectangleTertiary">Rectangle Tertiary</button>
```
*/

/*
---
name: Pill
category: Components
---

Pills can be used with `<a>`, `<button>`, and `<input>` elements.

Types of pills:
- Pill Primary: Standard pill
- Pill Secondary: Add an secondary indication over the primary pill
- Pill Tertiary: Add an tertiary indication over the other pill types

```types.html
<button class="button pillPrimary">Pill Primary</button>
<button class="button pillPrimary mediumLabel">Pill Primary - medium button</button>
<button class="button pillPrimary smallLabel">Pill Primary - small button</button>
<button class="button pillSecondary">Pill Secondary</button>
<button class="button pillTertiary">Pill Tertiary</button>
```
*/

button,
input[type=button],
input[type=submit],
a {
  @extend .is-large;

  height: 56px;

  &.content-space-between {
    justify-content: space-between;
  }

  span {
    &.icon {
      position: relative;
      top: -2px;
    }
  }

  /**
   * Rectangle
   */
  // Rectangle Primary
  &.rectanglePrimary {
    @extend .is-fullwidth;
    @extend .labelLarge;
    @extend .backgroundInversePrimary;

    color: $white;
    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 56px;

    // Medium button
    &.mediumLabel {
      @extend .labelMedium;

      padding-left: 16px;
      padding-right: 16px;
      height: 48px;
    }

    // Small button
    &.smallLabel {
      @extend .labelSmall;

      padding-left: 12px;
      padding-right: 12px;
      height: 36px;
    }

    &:disabled {
      @extend .backgroundStateDisabled;
      @extend .contentStateDisabled;

      pointer-events: none;
    }

    &:hover {
      opacity: 0.8;
      color: $white;
    }

    &:active {
      opacity: 0.7;
      color: $white;
    }

    &:enabled {
      color: $white;
    }
  }

  // Rectangle Secondary
  &.rectangleSecondary {
    @extend .is-fullwidth;
    @extend .labelLarge;
    @extend .backgroundTertiary;
    @extend .contentPrimary;

    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 56px;

    // Medium button
    &.mediumLabel {
      @extend .labelMedium;

      padding-left: 16px;
      padding-right: 16px;
      height: 48px;
    }

    // Small button
    &.smallLabel {
      @extend .labelSmall;

      padding-left: 12px;
      padding-right: 12px;
      height: 36px;
    }

    &:disabled {
      @extend .backgroundStateDisabled;
      @extend .contentStateDisabled;

      pointer-events: none;
    }

    &:hover {
      @extend .contentPrimary;

      background-color: rgba($black, 0.12);
    }

    &:active {
      @extend .contentPrimary;

      background-color: rgba($black, 0.2);
    }

    &:enabled {
      @extend .contentPrimary;
    }
  }

  // Rectangle Tertiary
  &.rectangleTertiary {
    @extend .is-fullwidth;
    @extend .labelLarge;

    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 56px;

    // Medium button
    &.mediumLabel {
      @extend .labelMedium;

      padding-left: 16px;
      padding-right: 16px;
      height: 48px;
    }

    // Small button
    &.smallLabel {
      @extend .labelSmall;

      padding-left: 12px;
      padding-right: 12px;
      height: 36px;
    }

    &:disabled {
      @extend .contentStateDisabled;

      pointer-events: none;
    }

    &:hover {
      @extend .backgroundTertiary;
      @extend .contentPrimary;

      background-color: rgba($black, 0.12);
    }

    &:active {
      @extend .backgroundTertiary;
      @extend .contentPrimary;

      background-color: rgba($black, 0.2);
    }

    &:enabled {
      @extend .contentPrimary;
    }
  }

  // Pill Primary
  &.pillPrimary {
    @extend .rectanglePrimary;

    width: auto !important;
    border-radius: 100px;
  }

  // Pill Secondary
  &.pillSecondary {
    @extend .rectangleSecondary;

    width: auto !important;
    border-radius: 100px;
  }

  // Pill Tertiary
  &.pillTertiary {
    @extend .rectangleTertiary;

    width: auto !important;
    border-radius: 100px;
  }
}
