/*
---
name: Switch
category: Components
---

Switch can be used with `<input>` elements.

```types.html
<div class="field">
  <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
  <label for="switchExample">Switch example</label>
</div>
```
*/
.switch[type='checkbox'] {
  @extend .is-large;
  @extend .is-rounded;

  &[type='checkbox'] + label {
    @extend .paragraphSmall;
  }

  // Active state
  & + label {
    &::before,
    &:before {
      @extend .backgroundTertiary;
      width: 52px;
      height: 32px;
    }
    &::after,
    &:after {
      top: 2px;
      left: 2px;
      width: 28px;
      height: 28px;
    }
  }

  // Disabled state
  &:checked + label:before,
  &:checked[type='checkbox'] + label:before {
    @extend .backgroundInversePrimary;

    background-color: $black;
    border: 0;
  }
  &:checked + label:after {
    left: 1.375rem;
  }
}

/*
---
name: Check
category: Components
---

Check can be used with `<input>` elements.

```types.html
<div class="field">
  <input id="checkExample" type="checkbox" name="checkExample" class="is-checkradio">
  <label for="checkExample">Check example</label>
</div>
<div class="field">
  <input id="checkExampleEnabledDisabled" type="checkbox" name="checkExampleEnabledDisabled" class="is-checkradio" checked disabled>
  <label for="checkExampleEnabledDisabled">Check example enabled disabled</label>
</div>
<div class="field">
  <input id="checkExampleDisabled" type="checkbox" name="checkExampleDisabled" class="is-checkradio" disabled>
  <label for="checkExampleDisabled">Check example disabled</label>
</div>
```
*/
.is-checkradio[type='checkbox'] {
  border: 0;

  // Active state
  & + label {
    font-size: 18px;

    &::before,
    &:before {
      @extend .bm-check-enabled-off;

      width: 24px;
      height: 24px;
      border-radius: 0;
      border: 0;
    }

    // Disabled state
    &::after,
    &:after {
      @extend .bm-check-enabled;

      width: 24px;
      height: 24px;
      transform: unset;
      top: 0;
      left: 0;
    }
  }

  // Hover state
  &:hover:not([disabled]) + label {
    &:before,
    &::before {
      border: 0;
    }
  }

  // Checked
  &:checked {
    & + label {
      &:before,
      &::before {
        border: 0;
      }
    }
  }
}

/*
---
name: Radio
category: Components
---

Radio can be used with `<input>` elements.

```types.html
<div class="field">
  <input id="radioExample1" type="radio" name="radioExample" class="is-checkradio" checked>
  <label for="radioExample1">Radio example 1 checked</label>
  <input id="radioExample2" type="radio" name="radioExample" class="is-checkradio">
  <label for="radioExample2">Radio example 2</label>
</div>
<div class="field">
  <input id="radioExampleEnabledDisabled" type="radio" name="radioExampleEnabledDisabled" class="is-checkradio" checked disabled>
  <label for="radioExampleEnabledDisabled">Radio example enabled disabled</label>
</div>
<div class="field">
  <input id="radioExampleDisabled" type="radio" name="radioExampleDisabled" class="is-checkradio" disabled>
  <label for="radioExampleDisabled">Radio example disabled</label>
</div>
```
*/
.is-checkradio[type='radio'] {
  // Active state
  & + label {
    font-size: 18px;

    &::before,
    &:before {
      @extend .bm-bullet-enabled-off;

      width: 24px;
      height: 24px;
    }

    // Disabled state
    &::after,
    &:after {
      @extend .bm-bullet-enabled;

      width: 24px;
      height: 24px;
      transform: unset;
      top: 0;
      left: 0;
    }
  }

  // Hover state
  &:hover:not([disabled]) + label {
    &:before,
    &::before {
      border: 0;
    }
  }
}
