/*
---
name: Select
category: Components
---

Select can be used with `<select>` elements.

```types.html
<div class="control">
  <div class="select">
    <select>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
  </div>
</div>
<div class="control has-icons-right">
  <div class="select positive">
    <select>
      <option selected>Country</option>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
    <span class="icon is-right">
      <i class="bm-icon-check contentPositive"></i>
    </span>
  </div>
</div>
<div class="control has-icons-right">
  <div class="select negative">
    <select>
      <option>Select dropdown Negative</option>
      <option>With options and longer options</option>
    </select>
    <span class="icon is-right">
      <i class="bm-icon-alert contentNegative"></i>
    </span>
  </div>
</div>
<div class="control">
  <div class="select">
    <select disabled>
      <option>Select dropdown disabled</option>
      <option>With options</option>
    </select>
  </div>
</div>
```
*/
.select {
  @extend .is-large;

  font-size: 18px;

  &:not(.is-multiple) {
    height: 56px;

    &:not(.is-loading) {
      &::after {
        @extend .bm-icon-chevron-down;

        width: 12px;
        height: 12px;
        border: 0;
        transform: unset;
        transform-origin: unset;
        top: 40%;
        right: 16px;
      }
    }
  }

  select {
    @extend .backgroundTertiary;
    @extend .contentPrimary;

    padding: 16px;
    height: 100%;
    border: 0;
    border-radius: 0;

    &:focus,
    &:active {
      @extend .contentPrimary;

      background-color: $white;
      border: 2px solid $black;
      box-shadow: none;
    }

    &:not([multiple]) {
      padding-right: 32px;
    }

    &:disabled {
      @extend .contentSecondary;
      @extend .backgroundTertiary;

      &:enabled,
      &:focus,
      &:active {
        @extend .backgroundTertiary;
        @extend .contentSecondary;

        border: 0;
      }
    }
  }

  // Positive
  &.positive {
    select {
      @extend .backgroundLightPositive;

      border-bottom: 2px solid $green500;

      &:focus,
      &:active {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  // Negative
  &.negative {
    select {
      @extend .backgroundLightNegative;

      border-bottom: 2px solid $red500;

      &:focus,
      &:active {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  .icon {
    &.is-right {
      right: 30px !important;
      top: 6px;
    }
  }
}
